@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
  background-color: aquamarine;
  font-size: large;
} */
 
.menu {
  width: 80%;
  text-align: left;
  position: fixed;
  transition: 0.5s;
  left: -100%;
  list-style: none;
  height: 100vh;
  background-color: yellowgreen;
}
.activeMenu {
  left: 0%;
}
.menu ul li{
  list-style: none;
  padding: 10px 0px;
}
.micon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 10px;
}

.modalOverLay {
  width: 100%;
  position: fixed;
  display: none;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalShow {
  display: block;
}
.modalDiv {
  width: 320px;
  position: fixed;
  height: 320px;
  left: 50%;
  transition: 0.3s;
  top: -500px;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}
.showModalDiv {
  top: 50%;
}
.en {
  position: fixed;
  background-color: #94a3b8;
  padding: 4px;
  right: -30px;
  rotate: 90deg;
  top: 400px;
}