.error {
    background-color: red;
    color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.warning {
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    padding: 5px;
}